<h1>Pokemon</h1>
{{#data}}
    Name: {{name}}<br>
    Level: {{level}}<br>
    <a href="/pokemon/edit/{{name}}">Edit</a> | <a href="/pokemon/delete/{{name}}">Delete</a> <br>
    <br>
{{/data}}

<a href="/pokemon/new">Add</a>