<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Add pokemon</h1>
        <form action="/pokemon/create" method="post">
            <label for="pokemonName">Name: </label>
            <input type="text" name="pokemonName"><br>
            <br>
            <label for="pokemonLevel">Level: </label>
            <input type="text" name="pokemonLevel"><br>
            <br>
            <input type="submit" value="submit">
        </form>
        <br>
         <button onclick="window.history.back()">Back</button>

    </body>
</html>